@import 'tailwindcss';

html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #C8102E;
  --secondary-color: #FECC02;
  --secondary-color-faded: #CA9F02;
  --support-color-red: #E4112C;
  --support-color-blue: #003D80;
  --support-color-gray: #EEEEEE;
  --support-color-dark-gray: #555555;
}

.main-style {
  color: var(--primary-color);
}

.block-sizing {
  margin-inline: auto;
  @media (width < 54rem) {
    margin-inline: calc(var(--spacing) * 5);
  }

  max-width: calc(var(--spacing) * 150);
  padding-block: calc(var(--spacing) * 12);
  @media (width >= 48rem) {
    max-width: calc(var(--spacing) * 200);
    padding-block: calc(var(--spacing) * 16);
  }
  @media (width >= 64rem) {
    max-width: calc(var(--spacing) * 250);
    padding-block: calc(var(--spacing) * 20);
  }
  @media (width >= 80rem) {
    max-width: calc(var(--spacing) * 290);
    padding-block: calc(var(--spacing) * 24);
  }
}

.newsletter-block {
  margin-inline: auto;
  @media (width < 54rem) {
    margin-inline: calc(var(--spacing) * 5);
  }

  max-width: calc(var(--spacing) * 150);
  padding-block: calc(var(--spacing) * 12);
  @media (width >= 48rem) {
    max-width: calc(var(--spacing) * 200);
  }
  @media (width >= 64rem) {
    max-width: calc(var(--spacing) * 250);
  }
  @media (width >= 80rem) {
    max-width: calc(var(--spacing) * 290);
  }
}

.header-style {
  font-family: 'Nunito', sans-serif;
  font-weight: var(--font-weight-semibold);

  font-size: var(--text-4xl);
  line-height: var(--tw-leading, var(--text-4xl--line-height));
  @media (width >= 64rem) {
    font-size: var(--text-5xl);
    line-height: var(--tw-leading, var(--text-5xl--line-height));
  }
  @media (width >= 80rem) {
    font-size: var(--text-6xl);
    line-height: var(--tw-leading, var(--text-6xl--line-height));
  }
}

.subheader-style {
  font-family: 'Poppins', sans-serif;

  font-size: var(--text-xl);
  line-height: var(--tw-leading, var(--text-xl--line-height));
  @media (width >= 64rem) {
    font-size: var(--text-2xl);
    line-height: var(--tw-leading, var(--text-2xl--line-height));
  }
  @media (width >= 80rem) {
    font-size: var(--text-3xl);
    line-height: var(--tw-leading, var(--text-3xl--line-height));
  }
}

.body-style {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 4);
  
  font-family: 'Poppins', sans-serif;
  font-size: var(--text-base);
  line-height: var(--tw-leading, var(--text-basesss--line-height));
}

.body-style ul li {
  list-style-type: disc;
  margin-left: 28px;
}

.link {
  text-decoration-line: underline;
}

.link-box {
  background-color: var(--secondary-color);
  border-width: 1px;
  border-radius: var(--radius-4xl);
  border-color: var(--secondary-color-faded);

  padding-inline: calc(var(--spacing) * 1);
  padding-block: calc(var(--spacing) * 2);
  @media (width >= 64rem) {
    padding-block: calc(var(--spacing) * 3);
  }
  @media (width >= 80rem) {
    padding-block: calc(var(--spacing) * 4);
  }

  font-family: 'Poppins', sans-serif;
  color: #000000;
  text-align: center;
  align-content:center;

  font-size: var(--text-sm);
  line-height: var(--tw-leading, var(--text-sm--line-height));
  @media (width >= 64rem) {
    font-size: var(--text-base);
    line-height: var(--tw-leading, var(--text-basesss--line-height));
    text-decoration-line: underline;
  }

  transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to;
  --tw-ease: cubic-bezier(0,0,0.2,1);
  transition-timing-function: cubic-bezier(0,0,0.2,1);
  --tw-duration: 150ms;
  transition-duration: 150ms;

  &:hover {
    @media (hover: hover) {
      background-color: var(--support-color-red);
      color: #FFFFFF;
    }
  }

  &:active {
    background-color: var(--support-color-red);
    color: #FFFFFF;
  }
}

.link-box-no-underline {
  background-color: var(--secondary-color);
  border-width: 1px;
  border-radius: var(--radius-4xl);
  border-color: var(--secondary-color-faded);

  padding-inline: calc(var(--spacing) * 1);
  padding-block: calc(var(--spacing) * 2);
  @media (width >= 64rem) {
    padding-block: calc(var(--spacing) * 3);
  }
  @media (width >= 80rem) {
    padding-block: calc(var(--spacing) * 4);
  }

  font-family: 'Poppins', sans-serif;
  color: #000000;
  text-align: center;
  align-content:center;

  font-size: var(--text-sm);
  line-height: var(--tw-leading, var(--text-sm--line-height));
  @media (width >= 64rem) {
    font-size: var(--text-base);
    line-height: var(--tw-leading, var(--text-basesss--line-height));
  }
}

.image-style {
  border-radius: var(--radius-2xl);

  max-width: calc(var(--spacing) * 80);
  height:fit-content;
  @media (width >= 48rem) {
    max-width: calc(var(--spacing) * 100);
  }
  @media (width >= 64rem) {
    max-width: calc(var(--spacing) * 120);
  }
  @media (width >= 80rem) {
    max-width: calc(var(--spacing) * 135);
  }
}

.input-style {
  background-color: var(--color-white);
  color: var(--support-color-dark-gray);
  
  font-size: var(--text-sm);
  line-height: var(--tw-leading, var(--text-sm--line-height));
  --tw-font-weight: var(--font-weight-semibold);
  font-weight: var(--font-weight-semibold);

  padding-inline: calc(var(--spacing) * 2);
  padding-block: calc(var(--spacing));
  border-radius: var(--radius-sm);
}

.button-style {
  border-radius: var(--radius-4xl);

  padding-inline: calc(var(--spacing) * 4);
  padding-block: calc(var(--spacing) * 2);

  font-family: 'Poppins', sans-serif;
  text-align: center;
  align-content:center;

  font-size: var(--text-base);
  line-height: var(--tw-leading, var(--text-basesss--line-height));

  transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to;
  --tw-ease: cubic-bezier(0,0,0.2,1);
  transition-timing-function: cubic-bezier(0,0,0.2,1);
  --tw-duration: 150ms;
  transition-duration: 150ms;
}
